/* ============== Seletores Gerais / Padrões ============*/

* {
  /*Seletor Global/Geral*/
  margin: 0; /* Shorthand: aplica a todos os margin*/
  padding: 0;
  box-sizing: border-box; /*Contar a largura a partir da borda */
}

:root {
  /*Seletor do Root*/
  --primary-color: hsl(170, 100%, 26%); /* Variável: --<Variavel>*/
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(148, 23%, 89%);

  --bg-green-light: hsl(180, 14%, 97%);
  --nav-height: 7.2rem;

  font-size: 62.5%; /* 1rem = 10px */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;
  overflow: overlay;

  background-color: var(--bg-green-light);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);

  text-transform: uppercase;

  margin-bottom: 1.6rem;
}
section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 2.4rem;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;

  color: var(--paragraph);
}

/* =================== NAVIGATION ========= */
nav {
  display: flex;
  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;

  z-index: 100;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
}

nav.scroll .logo path {
  /*pseudoclass No primeiro SVG aplica*/
  fill: var(--brand-beige);
}

nav.scroll button path {
  /*No segundo SVG aplica*/
  stroke: var(--brand-beige);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/*===================== MENU EXPANDED === */

.menu {
  transform: translateY(100%);
}

body.menu-expanded {
  overflow: hidden;
} /* Quando um elemento é expandido de modo que crie barras de rolagem, usar esta propriedade para corrigir */

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition: transform 200ms;

  transform: translateY(0);
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--brand-beige);
  text-decoration: none;
}

.menu .button {
  background: #ffffff;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/*========================= #HOME === */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  /*Cria um elemento antes do header*/
  content: '';
  width: 100%; /*Largura da viewport*/
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute; /*Elemento ficará por cima do conteúdo*/
  top: 0;
  left: 0;
  z-index: -1;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);
  margin-bottom: 3.2rem;
  /* Display: forma de apresentação do elemento.
     Block: ocupa toda a largura da página, e joga o próximo elemento para baixo    
  */
}

#home button {
  background-color: var(--primary-color);

  border: none;
  border-radius: 4rem;

  height: 5.2rem;
  width: 26.3rem;

  margin-bottom: 6rem;

  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-right: auto;
  margin-left: auto;
  /* Display: inline que não utiliza toda a largura da página, utiliza só o tamanho do elemento, assim como imagens.
     Flex: transforma os elementos em flexíveis 
  */
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 2rem; /*Alteração da posição do objeto*/
}

/* Desafio1: #NextLevel */
/* Desafio2: #NeverStopLearning */
/* Desafio3: #NewSkills  */

#home .stats {
  width: 32.7rem;
  padding-block: 4rem; /*Altera top e bottom*/
  margin-inline: auto;

  background-color: var(--brand-beige);
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column; /*Flex: inversão da direção*/
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;
  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-size: 1.6rem;
  line-height: 150%;
}

/*===================================== SERVICES ======= */
#services .cards {
  display: flex;
  flex-direction: column;

  gap: 3.2rem;
}

#services header h2 {
  margin-bottom: 6rem;
}

.card {
  padding: 2.4rem;
  text-align: left;

  background: white;
  border: 1px solid var(--brand-light);
  border-radius: 0.6rem;
}

.card h3 {
  margin-block: 1.6rem;
}

/*===================================== SERVICES ======= */
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about h2 {
  margin-bottom: 2.4rem;
  text-align: left;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}